{% include 'store/base.html' %} {% load static %}
{% load crispy_forms_tags %}

{% block content %}

    <style>
        body {
            background-color: gray;
        }
    </style>

    <body>
        <br>
        <div class="container bg-white shadow-md p-5 form-layout">
            <h3> Entre na sua conta </h3>
            <hr>
            <form method="POST" autocomplete="off">

                {% csrf_token %}
                {{form.username|as_crispy_field}}
                <br>
                {{form.password|as_crispy_field}}
                <br><br>
                <button type="submit" class="btn btn-primary navbar-btn text-white w-100">
                    &nbsp;
                    Entrar
                </button>

                <br><br>
                <div class="text-center">                
                    <a href="{% url 'register' %}">Não tem uma conta? Criar</a>
                    <br>
                    <a href="{% url 'my-login' %}">Esqueci minha senha</a>
                </div>
            </form>
        </div>
        <br><br>
    </body>

{% endblock %}