{% include 'store/base.html' %} {% load static %}

{% block content %}

<style>
    body {
        background-color: gray;
    }
</style>

<body>
    <br>
    <div class="container bg-white shadow-md p-5 form-layout">
        <div class="text-center">
            <i class="fa fa-check fa-2x  text-success" aria-hidden="true"></i>
            <br> <br>
            <h5> <strong>Sua conta foi verificada!</strong></h5>
            <hr>
            <p>Por favor, faça login.</p>
        </div>
        
    </div>


{% endblock %}
